$grid_square_size: 64px;

$number_of_grid_rows: 4;
$number_of_grid_columns: 12;

.layout {
  width: $grid_square_size * $number_of_grid_columns;
  height: $grid_square_size * $number_of_grid_rows;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // border: 1px solid #fff;
}

.gridSquare {
  width: $grid_square_size;
  height: $grid_square_size;
  position: absolute;

  // top: $grid_square_size;
  // left: $grid_square_size;

  // border: 1px solid#fff;
}
